.input-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.input-container input {
  max-width: 4000px; 
  }

.input-container textarea {
  max-width: 5px; /* El input se ajusta al ancho del contenedor */
  height: 110px; /* Ajusta la altura */
  }