.custom-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin: 10px;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px solid #dee2e6; /* Borde externo de la tabla */
}

.custom-table th,
.custom-table td {
  max-width: 300px;
  max-height: 50px;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  vertical-align: center;
  border: 1px solid #dee2e6; /* Borde entre las celdas */
}

.custom-table thead th {
  align-items: center;
  justify-content: center;
  background-color: #f9a11b;
  border-bottom: 2px solid #dee2e6;
}

.custom-table tbody tr:nth-of-type(odd) {
  background-color: rgba(153, 200, 68, 0.3);
}

.custom-table th {
  text-align: center;
}
.custom-table td {
  text-align: center;
}

.custom-table td .button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.button-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}

.button-icon svg {
  color: black;
  font-size: 24px;
}

#edit {
  background-color: #f9dc1c;
}

#delete {
  background-color: #99c844;
}

#eye {
  background-color: #188fd1;
}

/* Botón para agregar */
.button-add {
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
  background-color: #4bbaf7;
  color: black;
}

.button-add svg,
.button-schedule svg {
  color: black;
  font-size: 25px;
  margin: 4px;
}

.button-container {
  display: flex;
}

.button-schedule {
  width: 125px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 5px;
  background-color: #99c844;
  color: black;
}

.search-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}
